:80 {
	@api path /api/*
	handle @api {
		reverse_proxy 127.0.0.1:3001 {
			header_up X-Forwarded-Proto https
			header_up X-Forwarded-Host {host}
		}
	}

	handle {
		root * "C:\Users\viole\Projects\faebook-repo\faebook\apps\client\dist"
		try_files {path} /index.html
		file_server
	}
}